# IDE
.claude/
.serena/
.idea/
.vscode/
.pixi/
.aim/

# Files / Dirs
**__pycache__
projects/
**TMP.csv
guide/*.html
**.zip
.playwright-mcp
docker/distribution/
docker/.env
gui_state
manuscript/
DEV_GUIDE.md